body {
	width: 100vw;
	height: 100vh;
	background-color: rgb(34, 181, 115);
	position: relative;

	.navbar.navbar-1 .navbar-toggler-icon {
		background-image: url("https://mdbcdn.b-cdn.net/img/svg/hamburger6.svg?color=000");
		position: fixed;
  	top: 23px;
  	right: 23px;
		height: 80px;
		width: 80px;
		z-index: 1;
		@media screen and (max-width: 600px) {
			height: 50px;
			width: 50px;
		}
		@media screen and (max-width: 300px) {
			position: absolute;
			top: 20px;
			right: 20px;
			height: 40px;
			width: 40px;
		}
	}
	h1 {
		color: white;
		font-weight: lighter;
		text-align: center;
		margin-top: 12px;
		@media screen and (max-width: 600px) {
			font-size: 21px;
			text-align: left;
			position: absolute;
			left: 20px;
			top: 20px;
		}
		@media screen and (max-width: 300px) {
			font-size: 18px;
			text-align: left;
			position: absolute;
			left: 20px;
		  width: 100px;
		}
	}
	.main {
		width: 100vw;
		height: 390px;
		position: absolute;
		top: 51%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		gap: 65px;
		flex-wrap: wrap;
		.item {
			width: 270px;
			height: 390px;
		}
		#first {
			color: rgb(210, 155, 66);
			background-color: black;
			position: relative;
			h6 {
				margin: 20px;
			}
			p {
				margin: 20px;
				color: white;
				font-size: 13px;
			}
			#read {
				position: absolute;
				margin: 0;
				bottom: -18px;
				font-weight: bold;
			}
		}
		#second {
			background-color: white;
			position: relative;
			h6 {
				color: rgb(210, 155, 66);
				margin: 20px;
			}
			p {
				margin: 20px;
				font-size: 13px;
			}
			#read {
				position: absolute;
				margin: 0;
				bottom: -18px;
				font-weight: bold;
			}
		}
		#third {
			background-color: black;
			position: relative;
			svg {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 120px;
				height: 120px;
				color: white;
			}
			p {
				color: rgb(210, 155, 66);
				position: absolute;
				bottom: 15px;
				left: 15px;
			}
			h6 {
				color: rgb(210, 155, 66);
			}
			#read {
				position: absolute;
				bottom: -18px;
				margin: 0;
			}
		}
	}
}
